/* all body */
body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.1em;
}

/* Header Stlying */
.container, .intro {
  margin: 0 auto;
  width: 95%;
  text-align: center;

}
h1, nav a {
margin: 0 auto;
display: block;
text-align: center;
padding: 1em;
text-decoration: none;
font-weight: 800;
color: #262626
}
a:link, a:visited {
  text-transform: uppercase;
  color: inherit;
}

nav a {
  background-color: white;
  margin-bottom: .5em;
}

.banner {
  text-align: center;
  margin-top: 3em;
}

.banner img {
  max-width: 70%
}

.intro {
  padding: 1em 0 3em;
  color: #262626;
  font-weight: 500;
}

a {
  font-size: .9em;
}

/* main section */

.pages {
  background: white;
  width: 100%;
  text-align: center;
  padding: 1em 0 3em;
}

.heading-1 {
  margin: 2em 0;
  text-transform: uppercase;
  font-size: .9em;
}

img {
  max-width: 100%;
}

.container img {
  padding: .75em 0;
}

/* contact section */
.contact {
  padding: 2em 0;
}
.contact h2 {
  margin: 2em 0 1em;
  text-transform: uppercase;
  font-size: .9em;
}
.contact p {
  color: #262626;
  padding: 1em 0;
}
.contact ul {
  display: block;
  padding-left: 0;
}
.contact li {
  padding-inline-start: 0;
  display: inline-block;
}

.method {

  text-align: center;
  color: #262626;
  font-weight: lighter;
}

.info {
  margin-left: .5em;
  font-weight: 800;
  color: #262626;
}

/* footer */

hr {
  width: 90%;
}

footer {
  margin: 1.5em 0;
  font-weight: 800;
  padding: 1.5em 0;
}

footer span {
  float: left;
  font-size: .9em;
}

footer .top {
  float: right;
  text-decoration: none;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footmenu {
    display: none;
  }
}

/* Media Query - Mid */
@media (min-width: 768px) {

.container, .banner {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;

}
nav a {
  display: inline;
  background-color: inherit;
    }

.banner {
  padding: 1em;
}
.banner img {
  float: right;
  width: 50%;
  margin-left: .5em;
}

.banner p {
  margin: 0;
}

.coll {
  float: left;
  width: 49%;
  padding-right: 2%;

}
.colr {
  float: right;
  width: 49%
}

footer .top {
  display: none;
}

.footmenu a {
  padding-left: 1em;
  text-decoration: none;
}

.footmenu {
  float: right;
  margin: 0 auto;
}

}
/* Media Query - Big */
@media (min-width: 1024px) {

.container, .banner {
  width: 80%;
}

.banner {
  margin-top: 0;
}

.banner img {
  margin-left: 1em;
}

.main-nav .name {
  float: left;
}

.main-nav .topnav {
  float: right;
  margin: 0 auto;
  display: block;
  padding: 32px 0;
  margin-top: 10px;
}
.main-nav a {
  padding: 0 0 0 30px;
}

.coli {
  float: left;
  width: 32%;
  padding-right: 2%
}

.colii {
  width: 32%;
}

.coliii {
  width: 32%;
}


}
/* clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
